name: Create GH Release for tag

on:
  workflow_call:

jobs:
  # Before creating a release, we re-run the tests
  build:
    name: Build and test library
    uses: zig-devel/.infra/.github/workflows/library.yml@main

  # Converting a git tag into a stub of an immutable release
  release:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write  # for releases API
    steps:
    - uses: actions/checkout@v5

    - name: Parse & validate tag reference
      run: |
        # full package version, e.g. '1.2.3-2'
        gittag_ref=${{github.ref_name}}
        package_ref="$(sed -n 's/\s*\.version\s*=\s*"\(.*\)",/\1/p' build.zig.zon)"

        if [ "$gittag_ref" != "$package_ref" ]; then
          echo "Different versions in build.zig.zon and git tag: gittag_ref=$gittag_ref, package_ref=$package_ref."
          exit 1
        fi

        # upstream version only, e.g. '1.2.3'
        source_version=$(echo "$gittag_ref" | sed -n 's/\-[0-9]*$//p')
        readme_version="$(cat README.md | head -1 | sed -n 's/^# .*@v\([0-9.]*\).*/\1/p')"
        nvchecker_version="$(cat '.github/oldver.json' | jq -r '.data.upstream.version')"

        if [ "$source_version" != "$readme_version" ]; then
          echo "The readme header contains an incorrect upstream version: source_version=$source_version, readme_version=$readme_version."
          exit 1
        fi

        # validate installation docs
        grep -q "^zig fetch --save ${{ github.server_url }}/${{ github.repository }}/archive/refs/tags/${{github.ref_name}}.tar.gz$" README.md
        if test $? -ne 0; then
          echo "Incorrect version in installation documentation."
          exit 1
        fi

        # validate version known nvchecker
        if [ "$source_version" != "$nvchecker_version" ]; then
          echo "Incorrect upstream version in nvchecker config, source_version=$source_version, nvchecker_version=$nvchecker_version."
          exit 1
        fi

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        body: |
          Release CI checks: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        # Don't change it; have someone review it before releasing.
        # We use immutable releases, and there's no way to fix it.
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
